force-app/main/default/flows/Create_Reservation-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>openReservationSubtab</name>
        <label>openReservationSubtab</label>
        <locationX>373</locationX>
        <locationY>593</locationY>
        <actionName>c:openRecordAction</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varReservationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sobject</name>
            <value>
                <elementReference>ReservationAPIName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>Contact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>Lead</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReservationAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Reservation__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>assignCustomerLookup</name>
        <label>assignCustomerLookup</label>
        <locationX>388</locationX>
        <locationY>211</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createContactReservation</targetReference>
            </connector>
            <label>isContact</label>
        </rules>
        <rules>
            <name>isLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createLeadReservation</targetReference>
            </connector>
            <label>isLead</label>
        </rules>
    </decisions>
    <formulas>
        <name>calcEndDate</name>
        <dataType>Date</dataType>
        <expression>{!varStartDate}+{!varResLength}</expression>
    </formulas>
    <interviewLabel>CustomerDetails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Reservation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>createContactReservation</name>
        <label>createContactReservation</label>
        <locationX>236</locationX>
        <locationY>338</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference>updateContact</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>varNoOfGuests</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <recordCreates>
        <name>createLeadReservation</name>
        <label>createLeadReservation</label>
        <locationX>526</locationX>
        <locationY>345</locationY>
        <assignRecordIdToReference>varReservationId</assignRecordIdToReference>
        <connector>
            <targetReference>updateLead</targetReference>
        </connector>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>calcEndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>varMarket</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>varStartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Guests__c</field>
            <value>
                <elementReference>varNoOfGuests</elementReference>
            </value>
        </inputAssignments>
        <object>Reservation__c</object>
    </recordCreates>
    <recordUpdates>
        <name>updateContact</name>
        <label>updateContact</label>
        <locationX>236</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>openReservationSubtab</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reservation_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLead</name>
        <label>updateLead</label>
        <locationX>525</locationX>
        <locationY>452</locationY>
        <connector>
            <targetReference>openReservationSubtab</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working - Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>CustomerDetails</name>
        <label>CustomerDetails</label>
        <locationX>384</locationX>
        <locationY>78</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignCustomerLookup</targetReference>
        </connector>
        <fields>
            <name>CustomerDetailscmp</name>
            <extensionName>c:customerDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sobject</name>
                <value>
                    <elementReference>varSObjectType</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varMarket</assignToReference>
                <name>requestedMarket</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varNoOfGuests</assignToReference>
                <name>numberOfPeople</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varStartDate</assignToReference>
                <name>startDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varResLength</assignToReference>
                <name>endDays</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>CustomerDetails</startElementReference>
    <variables>
        <name>varMarket</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNoOfGuests</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReservationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varResLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
